@media screen and (min-width: 700px) {
    /**********************
    NAVIGATION
    **********************/

    header {
        padding: 0;
    }

    .header_title {
        text-align: left;
        padding-left: 20px;
    }

    /**********************
    NAVIGATION
    **********************/

    .nav_menu {
        /* hide lower nav menu when screen is wider than 700px */
        display: none;
    }

    .header_nav_menu {
        display: inline-block;
        float: right;
    }

    nav {
        background: none;
        text-align: right;
    }

    #header_title {
        float: left;
        text-align: left;
    }
}

@media screen and (max-width: 480px) {
    nav ul {
        margin: 0;
        padding: 0;
    }

    nav li {
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid #e3e3e3;
    }

    nav li:last-child {
        border-bottom: 0;
    }


}
