/* Large screens at 780px or bigger */

@media screen and (min-width: 780px) {
    /**********************
    NAVIGATION
    **********************/

    header {
        padding: 0;
    }
    .header_title {
        text-align: left;
        padding-left: 20px;
    }
    /**********************
    NAVIGATION
    **********************/

    .header_nav_menu {
        display: inline-block;
        float: right;
    }
    nav {
        background: none;
        text-align: right;
    }
    #header_title {
        float: left;
        text-align: left;
    }
    /**********************
    BODY
    **********************/

    #avatar {
        float: left;
        margin-left: 15%;
    }

    #contact_banner {
        float: left;
        margin-left: 5%;
        height: 100%;
        display: table;
    }
    #contact_banner_text {
        display: table-cell;
        vertical-align: middle;
    }
}
/* Small screens at 480px or smaller */

@media screen and (max-width: 480px) {
    /**********************
    NAVIGATION
    This functionality will be enabled with a menu icon within the header
    **********************/

    nav ul {
        margin: 0;
        padding: 0;
    }
    nav li {
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid #e3e3e3;
    }
    nav li:last-child {
        border-bottom: 0;
    }
}
