/**********************
GENERAL
**********************/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/**********************
HEADER
**********************/

.header {
    height: 100px;
    box-shadow: 5px 0 10px #222222;
}
