/**********************
GENERAL
**********************/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrapper {
    height: 100%;
    background-color: #CCC;
    overflow: hidden; /* truncates the page content to the screen dimensions */
}

/**********************
HEADER
**********************/

.header {
    height: 100px;
    background-color: #AAA;
/*    box-shadow: 0px 1px 5px #666666;*/
}

/**********************
BODY
**********************/

.body {
    height: 100%;
}

.nav_menu {
    display: inline;
    float: left;
    width: 250px;
    height: 100%;
    border-right: 1px solid #666666;
    background-color: #BBB;
/*    box-shadow: 1px 0px 5px #666666;*/
}

.content {
    display: inline;
    float: left;
}
